/* Fonts extracted from https://anupam.yarshabyte.com/ */

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Regular.woff2") format("woff2"),
       url("/fonts/SuisseIntl-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Intl";
  src: url("/fonts/SuisseIntl-Bold.woff2") format("woff2"),
       url("/fonts/SuisseIntl-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tunnels";
  src: url("/fonts/TTTunnels-Bold.woff2") format("woff2"),
       url("/fonts/TTTunnels-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tunnels";
  src: url("/fonts/TTTunnels-Bold.woff2") format("woff2"),
       url("/fonts/TTTunnels-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes Neue";
  src: url("/fonts/TTLakesNeue-Medium.woff2") format("woff2"),
       url("/fonts/TTLakesNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes Neue";
  src: url("/fonts/TTLakesNeue-Medium.woff2") format("woff2"),
       url("/fonts/TTLakesNeue-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
